PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://username:password@localhost:5432/db_name
JWT_SECRET=jwt_secret # Generate secret --> node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_EXPIRES_IN=24h